obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/newRepo.RazorAssemblyInfo.cs
obj/Debug/net5.0/newRepo.RazorAssemblyInfo.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/newRepo.AssemblyInfo.cs
obj/Debug/net5.0/newRepo.AssemblyInfoInputs.cache
obj/Debug/net5.0/newRepo.assets.cache
obj/Debug/net5.0/newRepo.csprojAssemblyReference.cache
obj/Debug/net5.0/newRepo.GeneratedMSBuildEditorConfig.editorconfig
.vscode/tasks.json
.vscode/launch.json
